<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.server.auto.mapper.TAcBillDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ecp.common.entity.TAcBillDetail">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="bill_month" property="billMonth" />
        <result column="bill_state" property="billState" />
        <result column="bill_detail" property="billDetail" />
        <result column="house_code_new" property="houseCodeNew" />
        <result column="account_id" property="accountId" />
        <result column="bill_amount" property="billAmount" />
        <result column="bill_payer" property="billPayer" />
        <result column="bill_address" property="billAddress" />
        <result column="bill_invalid" property="billInvalid" />
        <result column="project_id" property="projectId" />
        <result column="signature" property="signature" />
        <result column="pay_state" property="payState" />
        <result column="full_name" property="fullName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, bill_month, bill_state, bill_detail, house_code_new, account_id, bill_amount, bill_payer, bill_address, bill_invalid, project_id, signature, pay_state, full_name
    </sql>

</mapper>
