<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.server.auto.mapper.TcBuildingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ecp.common.entity.TcBuilding">
        <id column="id" property="id" />
        <result column="building_code" property="buildingCode" />
        <result column="pid" property="pid" />
        <result column="building_name" property="buildingName" />
        <result column="building_full_name" property="buildingFullName" />
        <result column="project_id" property="projectId" />
        <result column="building_type" property="buildingType" />
        <result column="is_charge_obj" property="isChargeObj" />
        <result column="password" property="password" />
        <result column="building_area" property="buildingArea" />
        <result column="usable_area" property="usableArea" />
        <result column="share_area" property="shareArea" />
        <result column="finish_date" property="finishDate" />
        <result column="floor_area" property="floorArea" />
        <result column="house_code" property="houseCode" />
        <result column="house_code_new" property="houseCodeNew" />
        <result column="property_name" property="propertyName" />
        <result column="property_addr" property="propertyAddr" />
        <result column="project_address" property="projectAddress" />
        <result column="street_address" property="streetAddress" />
        <result column="company_id" property="companyId" />
        <result column="join_flag" property="joinFlag" />
        <result column="join_date" property="joinDate" />
        <result column="unit_wy_price" property="unitWyPrice" />
        <result column="unit_bt_price" property="unitBtPrice" />
        <result column="property_right_type" property="propertyRightType" />
        <result column="property_attributes" property="propertyAttributes" />
        <result column="property_right_flag" property="propertyRightFlag" />
        <result column="building_certificate" property="buildingCertificate" />
        <result column="asset_attributes" property="assetAttributes" />
        <result column="market_state" property="marketState" />
        <result column="building_height" property="buildingHeight" />
        <result column="discounts" property="discounts" />
        <result column="parking_space_type" property="parkingSpaceType" />
        <result column="is_standard_building" property="isStandardBuilding" />
        <result column="asset_usage" property="assetUsage" />
        <result column="place_attribute" property="placeAttribute" />
        <result column="bill_address" property="billAddress" />
        <result column="associated_parking_spaces" property="associatedParkingSpaces" />
        <result column="is_fixed_parking_spaces" property="isFixedParkingSpaces" />
        <result column="creater_id" property="createrId" />
        <result column="creater_name" property="createrName" />
        <result column="modify_id" property="modifyId" />
        <result column="modify_name" property="modifyName" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_delete" property="isDelete" />
        <result column="verify_elect_status" property="verifyElectStatus" />
        <result column="verify_status" property="verifyStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, building_code, pid, building_name, building_full_name, project_id, building_type, is_charge_obj, password, building_area, usable_area, share_area, finish_date, floor_area, house_code, house_code_new, property_name, property_addr, project_address, street_address, company_id, join_flag, join_date, unit_wy_price, unit_bt_price, property_right_type, property_attributes, property_right_flag, building_certificate, asset_attributes, market_state, building_height, discounts, parking_space_type, is_standard_building, asset_usage, place_attribute, bill_address, associated_parking_spaces, is_fixed_parking_spaces, creater_id, creater_name, modify_id, modify_name, create_time, modify_time, is_delete, verify_elect_status, verify_status
    </sql>

    <select id="listPageTcBuilding" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from tc_building where is_charge_obj = #{isCharge} order by create_time desc
    </select>

</mapper>
