<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.server.auto.mapper.TJfChargingItemTotalInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ecp.common.entity.TJfChargingItemTotalInfo">
        <id column="id" property="id" />
        <result column="charging_item_id" property="chargingItemId" />
        <result column="charging_item_name" property="chargingItemName" />
        <result column="charging_type" property="chargingType" />
        <result column="start_charging_time" property="startChargingTime" />
        <result column="end_charging_time" property="endChargingTime" />
        <result column="charging_status" property="chargingStatus" />
        <result column="audit_status" property="auditStatus" />
        <result column="deduct_status" property="deductStatus" />
        <result column="charging_time" property="chargingTime" />
        <result column="audit_time" property="auditTime" />
        <result column="deduct_time" property="deductTime" />
        <result column="current_charging_total" property="currentChargingTotal" />
        <result column="current_deduct_total" property="currentDeductTotal" />
        <result column="last_arrears_total" property="lastArrearsTotal" />
        <result column="charging_times" property="chargingTimes" />
        <result column="last_charging_id" property="lastChargingId" />
        <result column="charging_num" property="chargingNum" />
        <result column="project_id" property="projectId" />
        <result column="project_name" property="projectName" />
        <result column="create_time" property="createTime" />
        <result column="create_id" property="createId" />
        <result column="charging_opera_id" property="chargingOperaId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, charging_item_id, charging_item_name, charging_type, start_charging_time, end_charging_time, charging_status, audit_status, deduct_status, charging_time, audit_time, deduct_time, current_charging_total, current_deduct_total, last_arrears_total, charging_times, last_charging_id, charging_num, project_id, project_name, create_time, create_id, charging_opera_id
    </sql>

</mapper>
